server:
  port: 8761

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false

  server:
    eviction-interval-timer-in-ms: 60000
    renewal-threshold-update-interval-ms: 60000
    response-cache-update-interval-ms: 3000

spring:
  application:
    name: eureka-server
